<% extend('../layouts/base_layout', {title: 'GRID ~ Status'}) %>
<div id="app" v-cloak class="min-h-screen text-white p-4 bg-blue-700" style="background-color:<%= process.env.STATUS_BG%>">
    <h1 class="text-4xl font-bold pb-4">Grid status</h1>
    <div class="font-bold pb-4">Server started: <%= started %></div>
    <h2 class="text-2xl font-bold pb-4">Games</h2>
    <div v-for="game in games" class="pb-2 border-b border-gray-400 mb-2">
        <span class="font-bold">{{ game.id }}</span> ({{game.width}}x{{game.height}}) /
        <span v-for="user in game.users">{{ user.name }}</span>
        <div class="text-sm text-gray-400">Created: {{ game.created }}</div>
        <div class="text-sm text-gray-400">Last Update: {{ game.lastUpdate }}</div>
    </div>
</div>
<script type="text/javascript">
    const games = <%- JSON.stringify(games.map(g => g.toObjectWithUsers())) %>;
	new Vue({
		el: '#app',
		data: {
			games: games,
		},
		methods: {
		},
		mounted() {

		},
	});
</script>
